.setting {
    margin: 0 0 0.5rem;
}

.setting__title {
    background-color: var(--backgroundColor2);
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 0 0.5rem 0 var(--backgroundColor2);
    font-size: var(--fontSize1);
    font-weight: var(--fontWeight2);
    margin: 0;
    padding: 0.5rem;
}

.setting__description {
    color: var(--color2);
    margin: 0;
    padding: 0.25rem 0.5rem;
}
